@import "theme.css";
@import "reset.css";

@import "sections/header.css";
@import "sections/footer.css";

@import "pagesCss/home.css";
@import "pagesCss/auth.css";
@import "pagesCss/error404.css";

/*========= 
    User
===========*/
@import "pagesCss/UserHome.css";

/*========= 
    Event
===========*/
@import "pagesCss/eventModel.css";

/*========= 
    Admin
===========*/
@import "pagesCss/dashboardAdmin.css";
@import "sections/slidebar.css"
/*========= 
    Store
@import "pagesCss/dashboardStore.css";

@import "./pagesCss/dashboardAdmin.css";
@import "./sections/slidebar.css";
/*========= 
    Store
@import "./pagesCss/storeDetail.css";

/*========= 
    Product
@import "./pagesCss/productDetail.css";
* {
    box-sizing: border-box;
}
:root {
    --font-family_primary: "Manrope", sans-serif;
    --font-family_second: "Roboto Serif", serif;

    /*========= 
        COLORS
    ===========*/
    --purple-primary: #572AF8;
    --green: #29B067;
    --orange: #F05E36;
    --yellow: #FFCF54;
    --dark: #191720;
    --grey: #575363;
    --white: #fff;
    --yellow-light: #FFFAE3;
    --purple-light: #E8E6ED;

    /*==============================
        FONTS -  Sử dụng Scale 1.
    ================================*/

    /* 74px */
    --h1-font-size: 7.4rem;
    --h1-line-height: 1;

    /* 44px */
    --h2-font-size: 4.4rem;
    --h2-line-height: 1;

    /* 30px */
    --h3-font-size: 3rem;
    --h3-line-height: 1.5;

    /* 26px */
    --h4-font-size: 2.6rem;
    --h4-line-height: 1.38;
    /* 20px */
    --h5-font-size: 2rem;
    --h5-line-height: 1.5;

    /* 18px */
    --p-font-size: 1.8rem;
    --p-line-height: 1.6;
    /* 16px */
    --p2-font-size: 1.6rem;
    --p2-line-height: 1.75;
    /* 14px */
    --p3-font-size: 1.4rem;
    --p3-line-height: 1.71;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
    font-family: var(--font-family_primary);
}
a {
    text-decoration: none;
}
select {
   appearance: none;
}
button {
    outline: none;
    border: none;
    background: transparent;
}
.btn {
    --height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 135px;
    height: var(--height);
    border-radius: 6px;
    border: transparent;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: var(--height);
    color: var(--white);
    background: var(--purple-primary);
    transition: opacity .7s ease;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}


.container {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}
.section__title {
    max-width: 470px;
    text-align: center;
    font-family: var( --font-family_second);
    font-size: var( --h2-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: var(--h2-line-height);
    margin-bottom: 18px;
}
.section__desc {
    max-width: 470px;
    text-align: center;
    color: var(--grey);
    line-height: var(--p-line-height);
}

.line {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
    background: var(--dark);
    height: 1px;
}